footer {
    background-color: rgb(20, 22, 21);
    padding: 2rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 3rem;
 
    
}
.footer-logo{
    z-index: 20;
}

.footer-logo {
    font-size: 2rem;
    font-weight:500;
    margin-bottom: 1rem;
    display: block;
}

.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 2rem;
}

.footer-socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer-socials a {
    background: rgb(20, 22, 21);
    padding: 0.8rem;
    border-radius: 00.7rem;
    box-shadow: 0.1rem 0.1rem var(--color-white);
    display: flex;

}

.footer-socials a:hover {
    background: transparent;
    box-shadow: 0.1rem 0.1rem var(--color-primary);
}

 .footer-copyright{
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--color-bg-variant);
} 


